{% extends 'base.html' %}
{% load static %}

{% block link %}

{% endblock link %}
    <link rel="stylesheet" href="{% static 'game.css' %}">

{% block content %}
    
    <br>
    <h1>Welcome To Connected Four!</h1>
    
    
    
    </br>
        

    
    <div class="container ">
        
        <table >



                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            
        </table>
           
    </div>                    
{% endblock %}

{% block script %}
    <script src="{% static 'game.js' %}"></static>
{% endblock script %}
