{% extends 'base.html' %}
{% load static %}

{% block link %}

{% endblock link %}
    <link rel="stylesheet" href="{% static 'game.css' %}">

{% block content %}
    
    <br>
    <h1>Welcome To Connected Four!</h1>
    <h2>The object of the game is to connect four of your chips in a row!</h2>
    
    
    </br>
        

    
    
    
    <div class="container">
        {% if not request.user.is_authenticated %}
            <a class="btn btn-success" href="{% url 'login' %}" role="button">Login to Play</a>
        {% endif %}
        <table class="col-md-10 col-xs-10">
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            <tr>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                                <td><input type="button" id="circles"></td>
                            </tr>
                            
        </table>
    </div>
    
   
   



    
    
        
     
{% endblock content %}

